body{
  padding: 0;
}
img{
  padding: 0;
  margin: 0;
}
h1{
  margin: 2px 20px 2px 0px;

}
header{
  background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}
.container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Roboto;
}
.container p {
  width: 88px;
  line-height: 76px;
  text-align: center;
  vertical-align: middle;
}
.container p:hover{
  background-color: white;
  color: black;
}
.container select{
  background-color: transparent;
  border: 0;
  color: white;
}
