body{
  padding: 0;
  font-family: Roboto;
}

img{
  padding: 0;
  margin: 0;
}
h1{
  margin: 2px 20px 2px 0px;

}
header{
  background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}
.container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  /*font-family: Roboto;*/
}
.container p {
  width: 88px;
  line-height: 76px;
  text-align: center;
  vertical-align: middle;
}
.container p:hover{
  background-color: white;
  color: black;
}
.container select{
  background-color: transparent;
  border: 0;
  color: white;
}
.poster{
  /*background: url("../img/preview.png") no-repeat;
  background-size: contain;*/
}
img{
  max-width: 100%;
}
main{
  margin: 0px 20px 0px 20px;
}
.columns{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.center-Nav{
  /*width: 200px;*/
  text-transform: uppercase;
  /*font-family: Roboto;*/
  font-size: 16px;
  font-weight: lighter;
  /*flex-basis: 15%;*/
}
article{
  max-width: 484px;
  outline: darkgray solid 1px;
  margin-top: 15px;
  /*border-radius: 0px 0px 5px 5px;*/
  /*box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);*/
}
h2{
  color: #df4a2b;
  font-size: 30px;
}
h3{
  margin-top: 11px;
  margin-bottom: 11px;
  font-weight: bold;
}
.text-in-article{
  margin-bottom: 5px;
}
.date-and-views{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: smaller;
  border-top: 1px solid darkgray;
}
.viewed-times{
  max-height: 1em;
}
aside{
  max-width: 235px;
}
.aside-gallery{
  margin-top: 15px;
  outline: darkgray solid 1px;
}
.video-add-margin{
  margin-top: 15px;
}
footer{
  margin-top: 15px;
  border-top: 4px solid orangered;
}
.footer-nav{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: darkgray;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-nav p {
  margin-right: 5px;
  margin-left: 5px;
}
.footer-nav p a:hover{
  color: #cd2e2d;
}
.footer-nav div{
  background: darkgray;
  height: 1.5em;
  width: 1.5em;
  border-radius: 5px;
  text-align: center;
}
.footer-nav div img{
  text-align: center;
  vertical-align: middle;
}
.footer-nav a{
  text-decoration: none;
  color: darkgray;
}
.footer-nav div img:hover{
  background: orangered;
  border: 1px solid orangered;
}
