body{
  padding: 0;
  font-family: Roboto;
}

img{
  padding: 0;
  margin: 0;
}
h1{
  margin: 2px 20px 2px 0px;
}
header{
  background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}
.container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  /*font-family: Roboto;*/
}
.container a{
  text-decoration: none;
  color: white;
}
.container p {
  width: 88px;
  line-height: 76px;
  text-align: center;
  vertical-align: middle;
}
.container p:hover{
  background-color: white;
  color: black;
}
.container select{
  background-color: transparent;
  border: 0;
  color: white;
}
.poster{
  /*background: url("../img/preview.png") no-repeat;
  background-size: contain;*/
  z-index: 1;
}
.dates-of-performance{
  position: relative;
  top: -140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  z-index: 2;
}
.arrow{
  font-weight: lighter;
  margin-left: 5px;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  background: #505050;
  color: white;
  border-radius: 5px;
}
.arrow:hover{
  background: #E14927;
}
.date-of-performance{
  margin: 0 1px 0 1px;
  width: 92px;
  height: 92px;
  background: #4F4F4F;
  background: radial-gradient(circle at top left, transparent 15px, #4F4F4F 0) top left,
              radial-gradient(circle at top right, transparent 15px, #4F4F4F 0) top right,
              radial-gradient(circle at bottom right, transparent 15px, #4F4F4F 0) bottom right,
              radial-gradient(circle at bottom left, transparent 15px, #4F4F4F 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.number-date{
  font-weight: normal;
  font-size: xx-large;
  margin: 8px 0 8px 0;
  border-bottom: 1px solid white;
}
.selected-date{
  width: 464px;
  height: 92px;
  background: #E14927;
  background: radial-gradient(circle at top left, transparent 15px, #E14927 0) top left,
  radial-gradient(circle at top right, transparent 15px, #E14927 0) top right,
  radial-gradient(circle at bottom right, transparent 15px, #E14927 0) bottom right,
  radial-gradient(circle at bottom left, transparent 15px, #E14927 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}
h4{
  font-size: xx-large;
}
.dates-of-performance div:nth-child(4){
  background: #E14927;
  background: #E14927;
  background: radial-gradient(circle at top left, transparent 15px, #E14927 0) top left,
  radial-gradient(circle at top right, transparent 15px, #E14927 0) top right,
  radial-gradient(circle at bottom right, transparent 15px, #E14927 0) bottom right,
  radial-gradient(circle at bottom left, transparent 15px, #E14927 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
img{
  max-width: 100%;
}
main{
  margin: 0px 20px 0px 20px;
}
.columns{
  display: flex;
  margin-top: -110px;
  justify-content: center;
  /*position: relative;
  top:-140px*/;
}
.info-buy-ticket{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-ticket-button{
  padding: 5px;
  line-height: 1.5em;
  background: #4F4F4F;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
}
.center-Nav{
  /*width: 200px;*/
  text-transform: uppercase;
  /*font-family: Roboto;*/
  font-size: 16px;
  /*font-weight: normal;*/
  /*flex-basis: 15%;*/
}
.center-Nav img{
  margin-right: 5px;
  max-height: 1.5em;
}
.center-Nav p{
  margin-bottom: 10px;
}
.center-Nav a{
  text-decoration: none;
  color: #363a3b;
}
.center-Nav a:hover{
  color: #df4a2b;
}
article{
  max-width: 484px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
h2{
  color: #df4a2b;
  font-size: 30px;
}
h3{
  margin-top: 11px;
  margin-bottom: 11px;
  font-weight: bold;
  padding: 0 5px 0 5px;
}
.text-in-article{
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
}
.date-and-views{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: smaller;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 0 7px 0 7px;
}
.viewed-times{
  max-height: 1em;
  margin-right: 2px;
}
aside{
  max-width: 235px;
}
.aside-gallery{
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.aside-gallery p{
  padding: 15px;
}
.video-add-margin{
  margin-top: 15px;
}
footer{
  margin-top: 15px;
  border-top: 4px solid orangered;
}
.footer-nav{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: darkgray;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-nav p {
  margin-right: 5px;
  margin-left: 5px;
}
.footer-nav p a:hover{
  color: #cd2e2d;
}
.footer-nav div{
  background: darkgray;
  height: 1.5em;
  width: 1.5em;
  border-radius: 5px;
  text-align: center;
}
.footer-nav div img{
  text-align: center;
  vertical-align: middle;
}
.footer-nav a{
  text-decoration: none;
  color: darkgray;
}
.footer-nav div img:hover{
  background: orangered;
  border: 1px solid orangered;
}
